<section class="main" (mouseenter)="close()">
  <mat-toolbar color="primary">

    <button mat-icon-button class="example-icon"(click)="opensidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon">
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar>

  <mat-drawer-container class="example-container" autosize>

    <mat-drawer mode="side" opened position="end">
      <app-producteurs-list></app-producteurs-list>
    </mat-drawer> 

    <mat-drawer-content>
      <div id="producteursMap"></div>
    </mat-drawer-content>

  </mat-drawer-container>
</section>