mat-form-field{
    height: inherit;
}

mat-grid-list{
    width: 100%;
}

#navig{
    display: flex;
    margin-top: 5px;
  
}

#rectangle{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width:150px;
    height: 30px;
    background:green;
    border-radius: 5px;
}

.head{
    background-color: green;
    height: inherit;
}

cards{
    height: 100%;
}

.rotate180 {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}