mat-form-field{
    height: inherit;
}

mat-grid-list{
    width: 100%;
}

.head{
    background-color: green;
    height: inherit;
}

.rotate180 {
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}