.myItem {
  min-height: 70px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-list-option[aria-selected="true"] {
  background-color: rgb(255, 230, 0);
}

mat-list-option:hover {
  background-color: rgba(219, 199, 16, 0.596);
}

mat-grid-tile> ::ng-deep figure  {
  display: flex;
  align-items: center !important;

}

mat-list-option {

  border-bottom: 1px solid black;
}

#myList {
  overflow-y: scroll;
  height: inherit;
}

#rien, #message {
  height: 15%;
}

#search {
  height: auto;
}

.sides {
  width: 300px;
}

mat-sidenav-container {
  height: 100%;
}

cdk-virtual-scroll-viewport {
  height: 80%;
}

.search-field {
  width: 100%;
}

.example-item {
  height: 50px;
}