<mat-sidenav-container class="example-container">
    <mat-sidenav class="sides" #sidenav mode="side" position="end" [(opened)]="opened">
        <app-producteurs-card></app-producteurs-card>
    </mat-sidenav>

    <mat-sidenav-content class="sides">
        <div id="rien"></div>
        <div id="search">
            <mat-form-field class="search-field" appearance="outline">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <input matInput (keyup)="getProducteursByName($event)" placeholder="Rechercher un producteur">
            </mat-form-field>
        </div>
      

        <div (scroll)="scrollProducteurs()" #myList id="myList">
            <mat-card *ngIf="producteurs.length == 0">Cette recherche ne correspond pas à aucun producteur</mat-card>
            <mat-selection-list [multiple]="false">
                <mat-list-option #myItem *ngFor="let producteur of producteurs" [value]="selectedProducteur"
                    (click)="sendProducteur(producteur);(opened ? null : sidenav.toggle())">
                    <mat-grid-list *ngIf="producteur" cols="6" rowHeight="25px">
                        <mat-grid-tile rowspan="2">
                            <ngx-avatar [name]="(producteur.Lastname)+(' ')+(producteur.Firstname)"></ngx-avatar>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="3">
                            {{producteur.Lastname}} {{producteur.Firstname}}
                        </mat-grid-tile>
                        <mat-grid-tile colspan="2" rowspan="2">
    
                            <span *ngFor="let rendement of producteur.Rendements">
                                {{rendement.Farming}}
                            </span>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="3">
                            {{Totalrendement(producteur)}}
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div id="message"></div>
    </mat-sidenav-content>
</mat-sidenav-container>