.example-spacer {
    flex: 1 1 auto;
  }
  .example-container {
    width: 100%;
    height: 100%;
  }

  mat-drawer{
    width: 20%;
  }
  
  /* mat-toolbar{
      background-color: darkgreen;
  } */