<mat-drawer-container class="example-container">

  <mat-drawer (mouseenter)="open()" #menupanel mode="side" [(opened)]="fix ? true : opened">
    <mat-toolbar >
      <span class="example-spacer"></span>

      <button mat-icon-button class="example-icon" aria-label="share" (click)="fixed()">
        <mat-icon *ngIf="fix">push_pin</mat-icon>
        <mat-icon *ngIf="!fix" svgIcon="push-pin"></mat-icon>
      </button>

    </mat-toolbar>
    <a mat-button (click)="fix ? null : menupanel.toggle()" routerLink="/producteurs">Producteurs</a>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>