<mat-grid-list cols="7" rowHeight="75px">
    <mat-grid-tile rowspan="2">
        <mat-icon>person</mat-icon>
    </mat-grid-tile>
    <mat-grid-tile colspan="5">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="producteur.Lastname" [required]="editable" [readonly]="!editable">
            <mat-error>{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
        <button mat-mini-fab aria-label="Example icon button with a home icon" (click)="!editable?editOn():editOff()">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-grid-tile>

    <mat-grid-tile colspan="5">
        <mat-form-field appearance="fill">
            <mat-label>Prenom</mat-label>
            <input matInput [(ngModel)]="producteur.Firstname" [required]="editable" [readonly]="!editable">
            <mat-error>{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-icon>home</mat-icon>
    </mat-grid-tile>

    <mat-divider></mat-divider>
    <mat-grid-tile colspan="5">

        <mat-form-field appearance="fill">
            <mat-label>Addresse</mat-label>
            <input matInput [(ngModel)]="producteur.Village" [required]="editable" [readonly]="!editable">
            <mat-error>{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<h5>cultures</h5>

<mat-icon *ngFor="let rendement of producteur.Rendements" [svgIcon]="rendement.Farming"></mat-icon>