<form #etatForm="ngForm">
    <mat-grid-list cols="7" rowHeight="75px">
        <mat-grid-tile rowspan="2">
            <mat-icon>person</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile colspan="5">
            <mat-form-field appearance="legacy" [ngClass]="{ 'was-validated' : champLastname.dirty}">
                <mat-label *ngIf="editable">Nom</mat-label>
                <input matInput #champLastname="ngModel" id="Lastname" name="Lastname" [(ngModel)]="producteur.Lastname"
                    [required]="editable" [readonly]="!editable">
                <mat-hint *ngIf="!editable">Nom</mat-hint>
                <mat-error *ngIf="champLastname.dirty && champLastname.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile rowspan="2">
            <button mat-mini-fab [disabled]="etatForm.invalid" (click)="!editable?editOn():editOff()">
                <mat-icon>{{editable?'save':'edit'}}</mat-icon>
            </button>
        </mat-grid-tile>

        <mat-grid-tile colspan="5">
            <mat-form-field appearance="legacy" [ngClass]="{ 'was-validated' : champFirstname.dirty}">
                <mat-label *ngIf="editable">Prénom</mat-label>
                <input matInput #champFirstname="ngModel" id="Firstname" name="Firstname"
                    [(ngModel)]="producteur.Firstname" [required]="editable" [readonly]="!editable">
                <mat-hint *ngIf="!editable">Prénom</mat-hint>
                <mat-error *ngIf="champFirstname.dirty && champFirstname.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-icon>home</mat-icon>
        </mat-grid-tile>
        
        <mat-divider></mat-divider>
        <mat-grid-tile colspan="5">
            <mat-form-field appearance="legacy" [ngClass]="{ 'was-validated' : champAddresse.dirty}">
                <mat-label *ngIf="editable">Addresse</mat-label>
                <input matInput #champAddresse="ngModel" id="Addresse" name="Addresse" [(ngModel)]="producteur.Village"
                    [required]="editable" [readonly]="!editable">
                <mat-hint *ngIf="!editable">Addresse</mat-hint>

                <mat-error *ngIf="champAddresse.dirty && champAddresse.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</form>
<h5>cultures</h5>

<mat-icon *ngFor="let rendement of producteur.Rendements" [svgIcon]="rendement.Farming"></mat-icon>